<h3>Shipping Details</h3>

<div>
    Country
    <select ng-model="data.selectedCountry"
            ng-change="countryChanged()"
            ng-options="opt.name for opt in data.countries track by opt.code">
    </select>
</div>

<div>
    Enter Location
    <input id="location"
           type="text"
           size="25"
           ng-model="data.selectedLocation"
           ng-disabled="data.disableCity"
           placeholder="Type at least 3 letters">
</div>

<div ng-if="data.shipping">
    <div>Delivery: {{ data.shipping.delivery }}</div>
    <div>Shipping Cost: ₹{{ data.shipping.cost }}</div>

    <button ng-click="confirmShipping()">
        Buy
    </button>
</div>